{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="post" id="DisForm" enctype="multipart/form-data" data-sta-url="{% url 'aadmin:Ajax-state' %}" data-dis-url="{% url 'aadmin:Ajax-district' %}">
        {% csrf_token %}
        <table border="1" align="center" cellpadding="11" style="font-family: 'Times New Roman', Times, serif;color:red">
            <tr>
                <td>Country</td>
                <td>
                    <select name="Condrop" id="Condrop">
                        <option value="">----SELECT----</option>
                        {% for i in CON %}
                        <option value="{{i.id}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    <select name="stadrop" id="stadrop">
                        <option value="">----SELECT----</option>
                    </select>
                </td>
                </td>
            </tr>
            <tr>
                <td>District</td>
                <td>
                    <select name="distdrop" id="distdrop">
                        <option value="">----SELECT----</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Place</td>
                <td><input type="text" name="p1" id=""value=""></td>
            </tr>
            <tr>
                <td><input type="submit" name="save" value="Save">
                    <input type="reset" name="save" value="Cancel">
                </td>
            </tr>
        </table>
        <br><br><br>
        <table border="1" align="center" cellpadding="11" style="font-family: 'Times New Roman', Times, serif;color:green">
            <tr>
                <th>SL.No</th>
                <th>Country</th>
                <th>State</th>
                <th>District</th>
                <th>Place</th>
                <th>ACtion</th>
            </tr>
            {% for i in Plc %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.district.state.country}}</td>
                <td>{{i.district.state}}</td>
                <td>{{i.district}}</td>
                <td>{{i}}</td>
                <td><a href="{% url 'aadmin:delplace' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $("#Condrop").change(function () {
        var cid = $(this).val();
        var ur = $("#DisForm").attr("data-sta-url");
        $.ajax({
            url: ur,
            data: { Cntry: cid, },
            success: function (data) {
                $("#stadrop").html(data);
            },
        });
    });

    $("#stadrop").change(function () {
        var sid = $(this).val();
        var ur = $("#DisForm").attr("data-dis-url");
        $.ajax({
            url: ur,
            data: { Cntry: sid, },
            success: function (data) {
                $("#distdrop").html(data);
            },
        });
    });

 
    </script>
</body>
</html>

{% endblock content %}